#sumbitGame{
  margin: auto;
  background-image: url('/images/button_submit.png');
  width: 84px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
}

button, .button {
  margin: auto;
  background-image: url('/images/button_submit.png');
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
}

.createGame {
  width: 100%;
  background-color: #E84A3E;
  height: 75px;
  padding-top: 25px;
  box-shadow: $box-shadow-red;
}

.wink {
  background-image: url('/images/rabbit_wink.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}