.finalResults {
  width: 100%;
  background-color: #E84A3E;
  height: 75px;
  padding-top: 25px;
  box-shadow: $box-shadow-red;
}

tr {
  align: center;

}

table, tr, td {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}