.finalResults {
  width: 100%;
  background-color: #E84A3E;
  height: 75px;
  padding-top: 25px;
  box-shadow: $box-shadow-red;
}

.winner {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 9vw;
  text-shadow: $text-shadow-blue;
  text-align: center;
}

.loser {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 9vw;
  text-shadow: $text-shadow-blue;
  text-align: center;
}

#dialogModal.tiny.dialog {
  width: 100%;
  background-color: #E84A3E;
  padding: 10px;
}

tr {
  align: center;

}

table, tr, td {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

#playAgain{
  margin: auto ;
  background: url('/images/button_playAgain.png');
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
}

th {
  font-family: "pxlvectica";
  text-align: center;
  padding-left: 10px;
}
