#get_point{
  margin: auto;
  background-image: url('/images/button_submit.png');
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
}


#get_point{
  margin: auto;
  background-image: url('/images/button_getPoint.png');
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
}

#finish{
  margin: auto;
  background-image: url('/images/button_finished.png');
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
}