.joinGame {
  width: 100%;
  background-color: #FFAE00;
  height: 75px;
  padding-top: 22px;
  box-shadow: $box-shadow-orange;
  position: fixed;
  top: 0;
}

.joinContent {
  margin-top: 100px;
}

.roomTitle {
  width: 100%;
  background-color: #E84A3E;
  height: 75px;
  padding-top: 25px;
  box-shadow: $box-shadow-red;
  display: block;
}


.colorInside {
  width: 100%;
  background-color: #209FF2;
  box-shadow: $box-shadow-darkBlue;
  margin-bottom: 30px;
  padding: 5px;
  display: block;
  padding-top: 20px;
}
