.lobbyTitle {
  width: 100%;
  position: fixed;
  background-color: #E84A3E;
  height: 75px;
  padding-top: 25px;
}

#startButton {
  font-size: 30px;
}

.footerDiv {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: #E84A3E;
  text-align: center;
  padding: 15px;
}

#start{
  margin: auto ;
  background-image: url('/images/start_button.png');
  width: 84px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
}