html {
  background-color: $body-bg;
  padding: 0;
}

body {
  margin: 0;
}

h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 5vw;
  text-shadow: $text-shadow-orange;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 5vw;
  text-shadow: $text-shadow-red;
  text-align: center;
  margin-bottom: 5px;
}

h3 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 5vw;
  text-shadow: $text-shadow-blue;
  text-align: center;
}

h4 {
  margin: 0;
  padding-top: 5px;
  text-align: center;
}

h5 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 5vw;
  text-shadow: $text-shadow-blue;
  text-align: center;
  margin-bottom: 5px;
}

input.form {
  text-align: center;
}

button {
  display: block;
  margin: auto;
}

p {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.05rem;
  text-align: center;
}

form {
  padding-left: 20px;
  padding-right: 20px;
}

// buttons ------------------------------------------

#startButton{
  margin: auto ;
  background: $startButton;
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
}

#create {
  margin: auto ;
  background-image: url('/images/button_create.png');
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  margin-bottom: 2px;
  background-color: $noBackgroundColor;
}

#join {
  margin: auto ;
  background-image: url('/images/button_join.png');
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;

}

#login-buttons .login-buttons-with-only-one-button .login-button {
  margin: auto ;
  background-image: $buttonSignOut;
  width: 168px;
  height: 48px;
  background-repeat: no-repeat;
  background-color: $noBackgroundColor;
  margin-bottom: $marginBottom;
  border-style: none;
  margin-left: 96px;
}

#login-buttons {
  padding: 0px !important;
  border-style: none;
}

#login-buttons .login-display-name {
  font-family: $text;
  color: white;
  font-size: 5vw;
  text-transform: uppercase;
  margin-bottom: 5px;
  border-style: none;
  display: block;
  text-shadow: $text-shadow-blue;
}

.login-button, .login-text-and-button, .login-buttons-with-only-one-button, #login-buttons, blaze-template {
   display: block;
   width: 100%;
}

// end buttons ---------------------------------------

.title {
  width: 100%;
  background-color: #E84A3E;
  height: 65px;
  padding-top: 18px;
  box-shadow: $box-shadow-red;
}

#logo {
  background-image: url('/images/rabbit2.png');
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}


.login-display-name {
  text-align: center;
}

// space divs -----------------------------------------

.space {
  margin-bottom: 25px;
  width: 100%;
}

.space2 {
  margin-bottom: 25px;
  width: 100%;
}

.space3 {
  margin-bottom: 5px;
  width: 100%;
}