$body-bg: #009EB3;
$text: 'Press Start 2P', cursive;
$buttonSignOut: url('/images/button_signOut.png');
$noBackgroundColor: transparent;
$marginBottom: 2px;
$box-shadow-red: 0px 5px 0px 0px rgba(180,34,8,1);
$box-shadow-blue: 0px 5px 0px 0px rgba(1,191,216,1);
$box-shadow-orange: 0px 5px 0px 0px rgba(173,118,0,1);