<div class="grid-block">
  <zf-panel class="panel-fixed" id="fixed-panel">
    <h1> SCORES! </h1>
  </zf-panel>
</div>

<div class="space"></div>

<div>
  <h1>Winner: {{winner[0]}} with {{ finalScore[0].length + 1 }} points!</h1>
  <h1>Loser: {{loser[0]}} with {{ finalScore[0].length + 1 }} points  ...</h1>
</div>


<table style="width: 100%">
  <thead>
    <tr style="width: 33%">
      <th align="center">RANK</th>
      <th align="center">NAME</th>
      <th align="center">COINS</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="score in finalScore">
    <td align="center">{{ finalScore[0].length + 1 }} </td>
    <td align="center">{{ finalScore[0][0] }}</td>
    <td align="center">{{ finalScore[0][1] }}</td>
  </tr>
  </tbody>
</table>

<div class="footerDiv">
  <button id="playAgain" name='button' ng-click="returnMain()">Play Again?</button>
</div>