<div class="finalResults">
  <h1>= SCORES =</h1>
</div>

<div class="space"></div>

<div>
  <h5>Winner: {{winner[0]}} with {{ winner[1] }} points!</h5>
  <h5>Loser: {{loser[0]}} with {{ loser[1]}} points  ...</h5>
</div>


<table style="width: 100%">
  <thead>
    <tr style="width: 33%">
      <th align="center">RANK</th>
      <th align="center">NAME</th>
      <th align="center">COINS</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="score in finalScore">
    <td align="center">{{ score[3] }} </td>
    <td align="center">{{ score[0] }}</td>
    <td align="center">{{ score[1] }}</td>
  </tr>
  </tbody>
</table>

<div class="footerDiv">
  <button id="playAgain" name='button' ng-click="returnMain()">Play Again?</button>
</div>