<div class="timer_panel">
  <zf-panel class="panel-fixed" id="fixed-panel">
    <b class="timer"> {{ gameObj.gameTimer | secondsToDateTime | date:'HH:mm:ss' }}</b>
  </zf-panel>
</div>

<!-- MAP -->
<div class="angular-google-map-container">
  <ui-gmap-google-map center="map.center" zoom="map.zoom">
    <ui-gmap-markers models="markers"
                     coords="'location'"
                     idkey="'_id'"
                     doRebuildAll="true">
    </ui-gmap-markers>

    <ui-gmap-circle
      ng-repeat="circle in circles"
      center='circle.center'
      radius='circle.radius'
      fill='circle.fill'
      stroke='circle.stroke'
      clickable='circle.clickable'
      draggable='circle.draggable'
      editable='circle.editable'
      visible='circle.visible'
      events='circle.events'>
    </ui-gmap-circle>

  </ui-gmap-google-map>
  <div class="map-center"></div>
</div>

<div class="footerDiv">
  <div ng-show="!isFinished">
    <h1>GAME SESSION</h1>
    <button id="get_point" name='button' ng-click="pickUpMarker()">GET POINT</button>
    <button id="finish" name='button' ng-click="finishButton()">FINISHED!</button>
    <h2> <!-- need to create a value for collected points --> points collected </h2>
  </div>
  <div ng-show="isFinished">
    <h1> Nice job, Buddy... </h1>
  </div>
</div>
