<div class="game_timer_panel">
    <h6> {{ gameObj.gameTimer | secondsToDateTime | date:'HH:mm:ss' }}</h6>

</div>

<!-- MAP -->
<div class="angular-google-map-container">
  <ui-gmap-google-map center="map.center" zoom="map.zoom">
    <ui-gmap-markers models="markers"
                     coords="'location'"
                     idkey="'_id'"
                     doRebuildAll="true">
    </ui-gmap-markers>

    <ui-gmap-circle
      ng-repeat="circle in markers"
      center='circle.location'
      radius='3'
      fill='{
        color: "#FF58BD",
        opacity: 0.5
      }'
      stroke='{
        color: "#FF58BD",
        weight: 2,
        opacity: 1
      }'
      clickable='false'
      draggable='false'
      editable='false'
      visible='true'
      events='{}'>
    </ui-gmap-circle>

  </ui-gmap-google-map>
  <div class="map-center"></div>
</div>


<div class="footerDiv" ng-if="!showMessage" ng-show="!isFinished">
  <div>
    <h1>GAME SESSION</h1>
    <button id="get_point" name='button' ng-click="pickUpMarker()"></button>
    <button id="finish" name='button' ng-click="finishButton()"></button>
    <h2> {{coins}} coins collected </h2>
  </div>
</div>

<div class="finishedDiv" ng-show="isFinished">
  <h1> Nice job, Buddy... </h1>
</div>

  <div class="messageBox" ng-if="showMessage">
    <h4>{{message}}</h4>
    <p>Marker: {{markerName}}</p>
    <p>Distance: {{distance}}</p>
  </div>

