<div class="joinGame">
  <h1>= JOIN A GAME =</h1>
</div>

<div class="joinContent">
   <div ng-repeat="game in gameData">
      <div ng-click="joinGame()" ui-sref="game.lobby({gameID: game._id})" class="gameDiv">

        <h2 class="roomTitle">= {{ game.room }} =</h2>

          <div class="colorInside">
            <h4>Host: {{ game.host }}</h4>
            <h4># of Plot Points per Player: {{ game.pointNum }}</h4>
            <h4>Plot Time: {{ game.plotTime }} Minutes</h4>
            <h4> Game Time: {{ game.gameTime }} Minutes</h4>
            <h3 class="timestamp">{{ game.timestamp }}</h3>
          <div class="space"></div>
        </div>
      </div>
    </div>
</div>





