<head>
  <title>Jog It Off</title>
  <base href="/">
  <link rel="stylesheet" href="/styles.css" type='text/css'>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<body>
 <div ui-view></div>
</body>


<template name="login">
    {{#if loggedIn}}

    {{> loginButtons}}
    <button id="createGame">CREATE A GAME</button>
    <button id="joinGame">JOIN A GAME</button>

    {{else}}
    <form class="form-inline">
        <p>Enter username to log in:</p>
        {{! We use the pattern below because it matches \w in in autocomplete for user names}}
        <input class="form-control" type="text" name="username" required
               pattern="^[a-zA-Z][a-zA-Z0-9_]{2,14}$"
               placeholder="Username..."
               title="3-15 numbers or characters.">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    {{/if}}
</template>
