<div class="headerDiv">
  <h1 class="headerText">{{gameObj.room}}</h1>
</div>

<div class="lobbyContent">

  <div class="playersDiv" ng-repeat="player in roomPlayers">
    <h2> {{player.username}} </h2>
  </div>
</div>
{{ game }}
<div class="footerDiv">
  <!-- <button id="readyButton" ng-click="isReady()">READY</button> -->
  <!-- <button id="startButton" ng-if="isHost" ui-sref="game.plot_countdown">START</button> -->
  <button id="startButton" ng-if="isHost" ng-click="startGame()" >START</button>
  <h2 ng-if="!isHost">Waiting on Host...</h2>
</div>