<div class="title">
  <h2>= JOG IT OFF =</h2>
</div>

<div class="space3"></div>

<!-- <button ng-click="message()"> SHOW/HIDE
</button>
<div ng-if="here">
  <h1> SHOW ME!</h1>
</div>
 -->
<div id="logo"></div>

<div id="mainDiv">
  <blaze-template name="login"></blaze-template>
  <button id="create" ng-show="$root.currentUser" ui-sref="create" href="#" ></button>
  <button id="join" ng-show="$root.currentUser" ui-sref="join" href="#" ></button>
  <button id="rules" ng-show="$root.currentUser" ui-sref="rules" href="#" >HOW TO PLAY</button>
</div>

